*{
  margin: 0;
  padding: 0;
}

html, body {
    min-height: 100vh; 
    background: #161513;
    color: white;
    font-family: 'outfit';
    overflow-x: hidden;
    width: 100%;
    position: relative;
}